<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employment_status.name %>
</p>

<%= link_to 'Edit', edit_employment_status_path(@employment_status) %> |
<%= link_to 'Back', employment_statuses_path %>
