<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employment_status.name %>
</p>

<footer class="actions">
  <%= link_to 'Edit', edit_employment_status_path(@employment_status), class: 'edit' %> |
  <%= link_to 'Back', employment_statuses_path, class: 'back' %>
</footer>