<h1>Have you accepted your offer with <%= @opp.employer.name %>?</h1>

<hr>

<ul class="response-links">
  <li><%= link_to_status_update 'accept offer', 'next', 'Accepted Offer' %></li>
  <li><%= link_to_status_update 'accept offer', 'no change', 'Not Yet' %></li>
  <li><%= link_to_status_update 'accept offer', 'fellow declined', 'No Longer Interested' %></li>
<ul>