<h1>Have you made progress on <%= @opp.name %>?</h1>

<p>The next step is to submit your application. Let us know if you've made progress:</p>

<p>
  <%= link_to_access_token(@token, 'Application Submitted', class: 'button') %>
  <%= link_to_access_token(@token, 'Not Interested', title: 'No Longer Interested', class: 'button') %>
</p>