<h1>Have you made progress on <%= @opp.name %>?</h1>

<p>The next step is to start applying. Which best describes your current progress?</p>

<%= link_to_access_token(@token, 'Applying', class: 'button') %>
<%= link_to_access_token(@token, 'Application Submitted', class: 'button') %>
<%= link_to_access_token(@token, 'Not Interested', title: 'No Longer Interested', class: 'button') %>
