<h1>Have you followed up to see your application through?</h1>

<p class="tips">
  Follow up with any contacts you have who might have some influence at the company (e.g. current and past employees, partners, clients) by sending them a copy of the resume and cover letter and asking "Would you be willing to put in a word for me to make sure my application is considered?"
</p>

<hr>

<ul class="response-links">
  <li><%= link_to_access_token(@token, 'followed up after application submission', title: 'Yes', class: 'button') %></li>
  <li><%= link_to_access_token(@token, 'no change', title: 'Not Yet', class: 'button') %></li>
  <li><%= link_to_access_token(@token, 'skip', title: 'Does Not Apply', class: 'button') %></li>
  <li><%= link_to_access_token(@token, 'not interested', title: 'No Longer Interested', class: 'button') %></li>
<ul>