<h1>Have you researched this employer online?</h1>

<p>Look up the employer on websites such as:</p>

<ul class="tips">
  <li>GlassDoor</li>
  <li>LinkedIn</li>
  <li>Better Business Bureau</li>
  <li>Idealist.org (for mission-driven organizations)</li>
</ul>

<hr>

<ul class="response-links">
  <li><%= link_to_status_update 'research employer', 'connect with employees', 'Yes' %></li>
  <li><%= link_to_status_update 'research employer', 'no change', 'Not Yet' %></li>
  <li><%= link_to_status_update 'research employer', 'skip', 'Does Not Apply' %></li>
  <li><%= link_to_status_update 'research employer', 'fellow declined', 'No Longer Interested' %></li>
<ul>