<h1>Editing Opportunity Stage</h1>

<%= render 'form', opportunity_stage: @opportunity_stage %>

<%= link_to 'Show', admin_opportunity_stage_path(@opportunity_stage) %> |
<%= link_to 'Back', admin_opportunity_stages_path %>
