<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<footer class="actions">
  <%= link_to 'Edit', edit_admin_location_path(@location), class: 'edit' %> |
  <%= link_to 'Back', :back, class: 'back' %>
</footer>
