version: '3'

services:
      
  career-mgr:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3010:3010"
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
      
  career-spec:
    build: 
      context: .
      dockerfile: Dockerfile.spec
    ports:
      - "3011:3011"
    volumes:
      - .:/usr/src/app
    env_file:
      - .env

  database:
    image: postgres
    env_file:
      - .env.database
    volumes:
      - db-data:/var/lib/postgresql/data
      
  chrome:
    image: selenium/standalone-chrome-debug
    logging:
      driver: none
    ports:
      - "5900:5900"
      
  redis:
    image: redis
    
  redis-spec:
    image: redis

volumes:
  db-data:
