<% object_name = object.class.name.downcase %>  

<p>
  Industries<br>
  <% Industry.order('name asc').each do |industry| %>
    <%= check_box_tag("#{object_name}[industry_ids][]", industry.id, object.industries.include?(industry)) %>
    <%= label_tag("#{object_name}[industry_ids][]", industry.name, style: 'display: inline;') %><br>
  <% end %>
</p>
