<p>
  <strong>Name:</strong>
  <%= @industry.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @industry.description %>
</p>

<footer class="actions">
  <%= link_to 'Edit', edit_industry_path(@industry), class: 'edit' %> |
  <%= link_to 'Back', industries_path, class: 'back' %>
</footer>