<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coach.name %>
</p>

<footer class="actions">
  <%= link_to 'Edit', edit_coach_path(@coach), class: 'edit' %> |
  <%= link_to 'Back', coaches_path, class: 'back' %>
</footer>