<h1>Editing Fellow Opportunity</h1>

<%= render 'form', fellow_opportunity: @fellow_opportunity %>

<%= link_to 'Show', admin_fellow_opportunity_path(@fellow_opportunity) %> |
<%= link_to 'Back', admin_fellow_opportunities_path %>
