<h1>Editing Opportunity</h1>

<%= render 'form', employer: @employer, opportunity: @opportunity %>

<%= link_to 'Show', employer_opportunity_path(@employer, @opportunity) %> |
<%= link_to 'Back', employer_opportunities_path(@employer) %>
