<p id="notice"><%= notice %></p>

<h1><%= @employer ? "#{@employer.name} " : '' %>Opportunities</h1>

<%= render "opportunities/list", opportunities: @opportunities %>

<br>

<%= link_to 'New Opportunity', (@employer ? new_employer_opportunity_path(@employer) : new_opportunity_path) %>
