<p id="notice"><%= notice %></p>

<h1><%= @employer.name %> Opportunities</h1>

<%= render "opportunities/list", opportunities: @opportunities, employer: @employer %>

<br>

<%= link_to 'New Opportunity', new_employer_opportunity_path(@employer) %>
