<h1><%= link_to @employer.name, employer_path(@employer) %>: New Opportunity</h1>

<%= render 'form', employer: @employer, opportunity: @opportunity %>

<%= link_to 'Back', employer_opportunities_path(@employer) %>
