/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  width: 672px;
  margin: 0 auto;
  position: relative;
}

h1,h2,h3,h4,h5,h6,
th,
.logout,
.button,
input[type="submit"],
.tracker-item {
  font-family: DIN, "TradeGothicNo.20-CondBold", "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: normal;
  font-weight: normal;
}

#masthead h1 {
  font-size: 1.1em;
  margin: 2px 0 0 calc(110px + 1em);
}

h2, h3 {
  margin-top: 2em;
}

#masthead {
  padding: 2vw;
  position: relative;
}

#masthead .logout {
  text-transform: uppercase;
  position: absolute;
  right: 2vw;
  top: 2vw;
}

#header-logo {
  background-image:url("https://s3.amazonaws.com/canvas-prod-assets/braven_logo_canvas_red_white.png");
  width: 110px;
  height: 26px;
  background-repeat: no-repeat;
  position: absolute;
  left: 2vw;
  top: 2vw;
}

a:link, a:visited {
  color: #0081bd;
  text-decoration: none;
  background: none;
}

a:hover, a:active {
  text-decoration: underline;
}

input[type="submit"],
a.button {
  background: #EB3B46;
  color: #FFF;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
  padding: 8px 14px;
  margin-bottom: 0;
  line-height: 1;
}

input[type="submit"]:hover,
a.button:hover {
  background: #c8141f;
  text-decoration: none;
}

table .edit,
table .delete,
table .back,
.actions {
  font-size: 0.75em;
}

.actions {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #CCC;
}

#masthead {
  background: #333;
}

#masthead a {
  color: #FFF;
}

table {
  border-collapse: collapse;
  margin: 2em 0;
}

th {
  text-align: left;
}

td, th {
  padding: 0.25em 1em 0.25em 0;
  border: none;
}

tr {
  border-bottom: 1px solid #CCC;
}

tr:first-child {
  border-top: 1px solid #CCC;
}

.checklist {
  margin-bottom: 1em;
}

.checklist input,
.checklist label {
  cursor: pointer;
}

#notice {
  font-weight: bold;
}

.red-border {
  border: 2px solid red;
}

.jquery-tags {
  width: 400px;
}

.jquery-tags textarea {
  display: none;
}

#industry-checklist, #interest-checklist, #metro-checklist {
  display: none;
}

#jquery-tags {
  margin-bottom: 20px;
}

.floating-search {
  float: left;
  width: 450px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.tablesorter th.header {
  padding-right: 10px;
}

/* Opportunity Stages Job Hunter UI */

.opportunity-stages td,
.opportunity-stages th {
  padding: 5px;
}

.phase {
  padding: 10px;
  text-align: center;
}

.phase h2,
th {
  font-size: 1.2em;
  margin-top: 0;
}

.phase {
  padding: 10px;
  text-align: center;
}

.opportunity-stages .completed {
  background: rgba(0,0,0,0.05);
  padding-right: 25px;
  position: relative;
}

.opportunity-stages .not-completed {
  color: #999;
}

.opportunity-stages .completed:after {
  content: "\2714";
  position: absolute;
  display: block;
  right: 5px;
  top: 10px;
  font-size: 24px;
  color: green;
}

.stage h3 {
  font-size: 1em;
  margin: 0.25em 0;
}

.active-stage h3 {
  font-size: 1.6em;
  margin: 0 0 0.5em;
}

.active-stage h4 {
  margin: 0 0 0.25em;
}

/* Career Progress Tracker */

#career-tracker {
  display: flex;
  flex-flow: row wrap;
}

.tracker-item {
  width: 210px;
  height: 210px;
  margin: 3px;
  flex-shrink: 0;
  background: #FAFAFA;
  position: relative;
}

.tracker-item label {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.tracker-item p {
  text-transform: none;
  font-size: 1.25em;
}

.tracker-item h4 {
  font-size: 2em;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}

.tracker-item input {
  position: absolute;
  top: 10px;
  right: 10px;
}

.start {
  background: #CCC;
  color: white;
}

.big-symbol {
  font-size: 5em !important;
  text-align: center;
}

.completed {
  background: green;
  color: white;
}

.tracker-item:hover {
  background: #EB3B46;
  color: white;
}

.tracker-item.completed:hover {
  background: darkgreen;
}

.tracker-item.start:hover {
  background: #CCC;
  cursor: default;
}

.tracker-item label:hover {
  cursor: pointer;
}

/* Media Queries */

@media all and (max-width: 700px) {
  main {
    width: 100%;
    padding: 0 1vw;
  }

  .tracker-item.start {
    display: none;
  }
}