// Place all the styles related to the fellow_opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.opportunity-stages {
  width: 360px;
}

.opportunity-stages td,
.opportunity-stages th {
  padding: 5px;
}

.phase {
  padding: 10px;
  text-align: center;
}

.phase h2,
th {
  font-size: 1.2em;
  margin-top: 0;
}

.phase-apply {
  background: #F8D8DA;
}

.phase-interview {
  background: #F6EFDF;
}

.phase-offer {
  background: #EBF7F7;
}

.phase {
  padding: 10px;
  text-align: center;
  background: #FFF;
  border-right: none;
}

.completed {
  background: rgba(0,0,0,0.05);
}

.active-stage {
  background: #FFF;
}

.stage h3 {
  font-size: 1em;
  margin: 0.25em 0;
}

.active-stage h3 {
  font-size: 1.6em;
  margin: 0 0 0.5em;
}

.active-stage h4 {
  margin: 0 0 0.25em;
}