// Place all the styles related to the fellow_opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.opportunity-stages {
  width: 100%;
}

.active-stage table {
  margin: 0;
}

.active-stage {
  padding: 0 1em 0 0;
}

.active-stage h3 {
  margin: 0.5em 0;
}

.active-stage h4 {
  margin: 0 0 0.25em;
}